body{
    margin:0px;
    padding: 0px;
    background: url('images/img3.png') no-repeat center fixed;
    background-size: cover;
    color: white;
    height: auto;
    font-family: 'Baloo Paaji 2', cursive;
}
.left{
    position: absolute;
    left: 33px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */
}

.left img{
    width: 130px;
    height: 70px;
}

.mid{
    display: block;
    width: 40%;
    margin: 20px auto;
    /* border: 2px solid yellow; */
}
.right{
    position: absolute;
    right: 33px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid rgb(72, 22, 189); */
}

.navbar li{
    display: inline-block;
}
.navbar li a{
    color:rgb(52, 123, 189);
    text-decoration: none;
    margin:20px 10px;
    font-size: 20px;
}
.navbar li a:hover{
    color: grey;
}

.btn{
    background-color:black;
    color:rgb(52, 123, 189);
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Baloo Paaji 2', cursive;
}
.btn:hover{
background-color: rgba(22, 106, 145, 0.432);
}

.container{
    border: 2px solid white;
    margin: 50px auto;
    padding: 10px 25px;
    border-radius: 15px;
    width: 40%;

}
.form-grp input{
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 1px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
}
.container h2{
    text-align: center;
}
.container button{
    display: block;
    width: 35%;
    margin: 2px auto;
}
  

